*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100vw;
    padding: 23px;
    background-color: #292a2d;
}

#input-box{
    border: 1px solid black;
    padding: 23px;
}

input, textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 6px;
    color: white;
}

button{
    background: transparent;
    color: white;
    padding: 8px 12px;
    border: 1px solid white;
}

#notes{
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.note{
    width: 300px;
    color: #a1a0a0;
    overflow-wrap: break-word;
    margin: 12px;
    padding: 12px;
    border: 1px solid black;
    background: transparent;
}

.deleteNote{
    float: right;
}